body {
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-pure-watercolor-gradient-colorful-background-picture-image_964413.jpg);
}
#ImmaginePlay{
    height: 400px;
    width: 600px;
    float: right;
    margin-left: 1050px;
}
#TitoloPassatempo{
    color: crimson;
}
#ImmagineLeggo{
    margin-left: 1300px;
}
h3{
    color: rgb(0, 0, 0);
}
.destra{
    text-align: right;
}
h2{
    color: green;
}
